/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f8f8f8;
    color: #333;
    text-align: center;
}

.carrossel-container {
    width: 100vw;  /* Ocupa toda a largura da tela */
    height: 400px; /* Ajuste a altura conforme necessário */
    overflow: hidden; /* Esconde as imagens que estão fora do foco */
    position: relative;
}

.carrossel {
    display: flex;
    width: 300%; /* Ajusta para conter todas as imagens (3 imagens = 300%) */
    height: 100%;
    transition: transform 1s ease-in-out; /* Transição suave */
}

.carrossel img {
    width: 100vw; /* Cada imagem ocupa 100% da largura da tela */
    height: 100%;
    object-fit: cover;
}
